# Check if uv is installed
if ! command -v uv &> /dev/null; then
  echo "Error: uv is not installed. Please install uv first."
  echo "https://github.com/astral-sh/uv?tab=readme-ov-file#installation"
  exit 1
fi

if test -f .envrc.local; then
  source .envrc.local
else
  echo ".envrc.local not found. Check the README for instructions."
fi

export VIRTUAL_ENV='.venv' # the directory the virtual env will live in
export OUTPUT_DIR='images' # the directory images will be saved to
echo ""

echo "Syncing / Installing packages and activating the virtual environment"
uv sync
source .venv/bin/activate

# create the output directory
if [ ! -d $OUTPUT_DIR ] ; then
  echo "Creating the ${OUTPUT_DIR} directory"
  mkdir $OUTPUT_DIR
fi

# layout python3

GREEN='\033[0;32m'
CYAN='\033[0;36m'
NC='\033[0m' # No Color

# announce python version and show the path of the current python in ${PATH}
echo ""
echo -e "Virtualenv has been activated for ${GREEN}$(python3 -V)${NC}"
echo -e "Using venv folder: ${CYAN}$(which python3)${NC}\\n"
